@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    background-color: #FFFFFF;
  }
  
  
  header {
    width: 100%;
    height: 100px;
    background-color:  #FFFFFF;
    ;
    display: flex;
  }
  
  
  
  .container {
    
    width: 500px;
    height: 500px;
    background-color:   #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
   
  }
  h1 {
    color: black;
    margin-left: 180px;
    font-family: 'Inter', sans-serif;
    font: bold;
    margin-bottom: 50px;
    font-size: 50px;
    
  }
   
  button {
    background-color: #3D5654;
    color: white;
    border-radius: 25px;
    width: 370px;
    margin-top: 40px;
    padding: 10px;
    margin-left: 60px;
    border: 2px solid;
    height: 50px;
    font-family: 'inter', sans-serif;
    font-weight: bolder;
    font-size: 20px;
  }
  .forgot {
    margin-left: 100px;
  }
  .ic {
    height: 70px;
    margin-top: 10px;
    margin-left: 20px;
  }
  h2 {
    margin-left: 10px;
    margin-top: 30px;
    font-family: 'inter', sans-serif;
    font: bold;
  }
  
  p {
    font-family: 'inter', sans-serif;
    font-size: 15px;
    margin-left: 140px;
    margin-right: 100px; 
    font-weight: bold;
    margin-top: 20px;
  }
  .log-con {
    background-color: #F5F5F5;
    border-radius: 25px;
    padding: 10px;
    width: 350px;
    height: 30px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: 20px auto;  
    position: relative;
    margin-top: 30px;
}

 
.log {
    border: none;
    outline: none;   
    background: transparent;
    flex-grow: 1;   
    font-size: 16px;
}

 
.ics {
    width: 20px;  
    height: 20px;
    
}

   
  