/* main.css t */


:root {
  --transition-speed: 0.3s;
  /* Theme Colors */
  --bg-color: #E3F2F1;
  --card-bg: #FFFFFF;
  --text-color: #3D5654;
  --hover-light: #FFFFFF;
  --active-bg: #E0F7FA;  /* Soft light blue for active link */
  --create-task-color: #3D5654;
  --gold-color: #D4AF37;  /* Gold color for icons and borders */
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

body.page-transition {
  opacity: 0;
}

/* Content Wrapper */
.content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.welcome-text {
  font-size: 26px;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 38px;
  margin-left: 23px;
}
.mytasks-section {
  background: none;
  border: none;
  padding: 34px;
}
.mytasks-section .section-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 20px;
}
.task-tabs {
  margin-bottom: 0  ;
  font-size: 14px;
  padding-left: 10px;
}

/* Custom style for task tabs */
.task-tabs .nav-link {
  background: none;
  border: none;
  color: var(--text-color);
  font-weight: 600;
  padding: 10px 10px;
  position: relative;
}

.task-tabs .nav-link.active {
  border-bottom: 1px solid var(--gold-color);
  color: var(--text-color);
  background-color: #E3F2F1;
}

.tab-divider {
  height: 1px;
  border-bottom: 1px solid var(--gold-color);
  margin-top: 15px; 
}

.btn-custom {
  background-color: #3D5654;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-custom:hover {
  background-color: #2f3f3d;
  color: #ffffff;
}
.task-body {
  min-height: 200px;
  overflow-y: auto;
}
.card.task-card {
  background-color: var(--card-bg);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adding shadow */
}
.chart-card {
  min-height: 450px;
}
.card-header {
  background: none;
  border-bottom: 0.5px solid #c8af6f;
  padding: 20px;
  font-weight: 600;
  color: var(--text-color);
}
.card-body {
  padding: 15px;
  flex: 1;
  color: var(--text-color);
}
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: 10px;
}
#taskGraph {
  max-height: 100%;
  max-width: 100%;
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 5px;
}
.chart-legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  padding: 8px 15px;
}
.legend-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #3D5654;
  margin: 14px 0;
  margin-left: 20px;
  margin-top: 15px;
}
.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 20px;
}
.todo { background-color: #EA2E2E; }
.in-progress { background-color: #5BA4E5; }
.completed { background-color: #54D376; }

@media screen and (max-width: 768px) {
  .main-content { padding: 15px; }
  .welcome-text { font-size: 16px; }
}